MindFactory.Noticias.Backend/.idea
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Api/bin
MindFactory.Noticias.Backend/.vs
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Api/obj
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Infrastructure/bin
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Infrastructure/obj
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Services/bin
MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Services/obj
/MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Domain/bin/Debug/net8.0
/MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Domain/Contracts/Repositories/INoticiaRepository.cs
/MindFactory.Noticias.Backend/MindFactory.Noticias.Backend.Domain/obj
